.form {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  max-width: 800px;

  margin: 20px auto;

  input {
    display: block;

    background-color: #222;
    color: #fff;
    padding: 12px 20px;

    border-radius: 8px;
    width: 100%;

    border: 2px solid transparent;

    &:focus {
      border-color: #35355e;
    }
  }

  button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-45%);

    margin-left: 30px;
    background-color: transparent;

    svg {
      width: 24px;
      height: 24px;
      stroke: #444;
    }
  }
}
